/* This is the project stylesheet */

:root {
    /* Colors */
    --black: rgba(0, 0, 0, 1);
    --light-grey: rgba(204, 204, 204, 1);
    --white: rgba(255, 255, 255, 1);
  
    /* Typographies */
    /* inter-24-light */
    --inter-24-light-family: "Inter";
    --inter-24-light-size: 24px;
    --inter-24-light-weight: 300;
    --inter-24-light-line-height: 32px;
  
    /* inter-24-medium */
    --inter-24-medium-family: "Inter";
    --inter-24-medium-size: 24px;
    --inter-24-medium-weight: 500;
    --inter-24-medium-line-height: 32px;
  
    /* inter-28-medium */
    --inter-28-medium-family: "Inter";
    --inter-28-medium-size: 28px;
    --inter-28-medium-weight: 500;
    --inter-28-medium-line-height: 36px;
  
    /* inter-32-medium */
    --inter-32-medium-family: "Inter";
    --inter-32-medium-size: 32px;
    --inter-32-medium-weight: 500;
    --inter-32-medium-line-height: 36px;
  
    /* inter-48-medium */
    --inter-48-medium-family: "Inter";
    --inter-48-medium-size: 48px;
    --inter-48-medium-weight: 500;
    --inter-48-medium-line-height: 52px;
  }

  .resume {
    background-color: var(--white);
    padding: 79px 159px 294px 144px;
    display: flex;
    align-items: flex-start;
  }
  .flex-wrapper-two {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .mask {
    width: 316px;
    height: 309px;
    margin-bottom: 52px;
  }
  .vitalik {
    max-width: 304px;
    color: var(--black);
    margin-bottom: 25px;
    margin-left: 11px;
    font-family: var(--inter-48-medium-family);
    font-size: var(--inter-48-medium-size);
    font-weight: var(--inter-48-medium-weight);
    line-height: var(--inter-48-medium-line-height);
  }
  .line {
    width: 304px;
    height: 1px;
    background-color: var(--light-grey);
    margin-bottom: 52px;
    margin-left: 26px;
  }
  .skills {
    margin-bottom: 117px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navichki {
    color: var(--black);
    margin-bottom: 32px;
    font-family: var(--inter-32-medium-family);
    font-size: var(--inter-32-medium-size);
    font-weight: var(--inter-32-medium-weight);
    line-height: var(--inter-32-medium-line-height);
    margin: 1px;
  }
  .flex-wrapper-six {
    display: flex;
    align-items: center;
    
  }
  .flex-wrapper-six:not(:last-of-type) {
    margin-bottom: 8px;
  }
  .marker {
    width: 2.63%;
    height: 25%;
    background-color: var(--black);
    margin-right: 24px;
    border-radius: 8px;
  }
  .rast {
    width: 272px;
    color: var(--black);
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
    
  }
  .line-two {
    width: 304px;
    height: 1px;
    background-color: var(--light-grey);
    margin-bottom: 48px;
    margin-left: 24px;
  }
  .education-two {
    margin-bottom: 47px;
    overflow: hidden;
    padding: 0 32px 60px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 1px;
  }
  .education {
    color: var(--black);
    margin-bottom: 19px;
    font-family: var(--inter-28-medium-family);
    font-size: var(--inter-28-medium-size);
    font-weight: var(--inter-28-medium-weight);
    line-height: var(--inter-28-medium-line-height);
    margin: 1px;
  }
  .flex-wrapper-four {
    margin-bottom: 33px;
    display: flex;
    align-items: flex-start;
    margin: 1px;
  }
  .marker-two {
    width: 3.51%;
    height: 24.24%;
    background-color: var(--black);
    margin-top: 25px;
    margin-right: 21.34px;
    border-radius: 8px;
  }
  .university-name {
    height: 91px;
    width: 341px;
    color: var(--black);
    display: flex;
    margin-bottom: 32px;
    margin-left: 32px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    
  }
  .flex-wrapper-five {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }
  .marker-three {
    width: 3.51%;
    height: 25%;
    background-color: var(--black);
    margin-top: 8px;
    margin-right: 21.34px;
    border-radius: 8px;
  }
  .itup {
    width: 272px;
    color: var(--black);
    margin-bottom: 10px;
    margin-left: 32px;
    font-family: var(--inter-24-medium-family);
    font-size: var(--inter-24-medium-size);
    font-weight: var(--inter-24-medium-weight);
    line-height: var(--inter-24-medium-line-height);
    margin: 1px;
  }
  .university-name-two {
    width: 272px;
    color: var(--black);
    margin-left: 32px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .stup {
    width: 400px;
    color: var(--black);
    position: absolute;
    left: 32px;
    top: calc(50% - 32px / 2);
    font-family: var(--inter-24-medium-family);
    font-size: var(--inter-24-medium-size);
    font-weight: var(--inter-24-medium-weight);
    line-height: var(--inter-24-medium-line-height);
    margin: 1px;
  }
  .line-three {
    width: 304px;
    height: 1px;
    background-color: var(--light-grey);
    margin-bottom: 25px;
    margin-left: 24px;
  }
  .languages-two {
    margin-left: 11px;
    padding: 33px 20px 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1px;
  }
  .languages {
    color: var(--black);
    margin-bottom: 32px;
    font-family: var(--inter-28-medium-family);
    font-size: var(--inter-28-medium-size);
    font-weight: var(--inter-28-medium-weight);
    line-height: var(--inter-28-medium-line-height);
    margin: 1px;
  }
  .mov {
    color: var(--black);
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .mov-two {
    color: var(--black);
    margin-bottom: 3px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .line-four {
    width: 1px;
    height: 1556px;
    background-color: var(--light-grey);
    margin-top: 89px;
    margin-right: 85px;
  }
  .flex-wrapper-three {
    padding: 89px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-two {
    margin-bottom: 25px;
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .contact {
    color: var(--black);
    margin-bottom: 32px;
    margin-left: 56px;
    font-family: var(--inter-32-medium-family);
    font-size: var(--inter-32-medium-size);
    font-weight: var(--inter-32-medium-weight);
    line-height: var(--inter-32-medium-line-height);
    
  }
  .flex-wrapper-thirteen {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
  }
  .phone {
    width: 37.91px;
    height: 32px;
    margin-right: 18.09px;
  }
  .nomer {
    width: 296px;
    color: var(--black);
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .mail {
    width: 361px;
    color: var(--black);
    margin-bottom: 8px;
    margin-left: 56px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    
  }
  .git {
    width: 339px;
    color: var(--black);
    margin-bottom: 8px;
    margin-left: 56px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
  }
  .adres {
    color: var(--black);
    margin-left: 56px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
  }
  .line-five {
    width: 624px;
    height: 1px;
    background-color: var(--light-grey);
    margin-bottom: 47px;
    margin-left: 3px;
  }
  .about-me {
    height: 31px;
    width: 624px;
    color: var(--black);
    display: flex;
    margin-bottom: 71px;
    font-family: var(--inter-32-medium-family);
    font-size: var(--inter-32-medium-size);
    font-weight: var(--inter-32-medium-weight);
    line-height: var(--inter-32-medium-line-height);
    margin: 1px;
  }
  .about-me-two {
    margin-bottom: 31px;
    margin-left: 16px;
    padding: 15px 29px 60px 0;
    display: flex;
    align-items: flex-start;
  }
  .company-name {
    height: 132px;
    width: 591px;
    color: var(--black);
    display: flex;
    text-align: justify;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .line-six {
    width: 624px;
    height: 1px;
    background-color: var(--light-grey);
    margin-bottom: 48px;
    margin-left: 4px;
  }
  .experience-two {
    padding: 19px 4px 54px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1px;
  }
  .experience {
    color: var(--black);
    margin-bottom: 7px;
    font-family: var(--inter-28-medium-family);
    font-size: var(--inter-28-medium-size);
    font-weight: var(--inter-28-medium-weight);
    line-height: var(--inter-28-medium-line-height);
    margin: 1px;
  }
  .flex-wrapper-eleven {
    margin-bottom: 29px;
    display: flex;
    align-items: flex-start;
  }
  .marker-four {
    width: 2.05%;
    height: 25.97%;
    background-color: var(--black);
    margin-top: 21.12px;
    margin-right: 24px;
    border-radius: 8px;
  }
  .relative-wrapper-one {
    position: relative;
  }
  .flex-wrapper-one {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 0;
    bottom: -29px;
  }
  .company-name-two {
    color: var(--black);
    position: absolute;
    left: 86px;
    top: calc(50% - 32px / 2);
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .kuhar {
    width: 336px;
    color: var(--black);
    position: relative;
    font-family: var(--inter-24-medium-family);
    font-size: var(--inter-24-medium-size);
    font-weight: var(--inter-24-medium-weight);
    line-height: var(--inter-24-medium-line-height);
    margin: 1px;
  }
  .roki {
    color: var(--black);
    text-align: right;
    position: relative;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .company-name-three {
    height: 84px;
    width: 589px;
    color: var(--black);
    display: flex;
    text-align: justify;
    margin-bottom: 57px;
    margin-left: 31px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .flex-wrapper-twelve {
    padding: 0 0 0 4px;
    display: flex;
    align-items: center;
  }
  .marker-five {
    width: 2.26%;
    height: 25.97%;
    background-color: var(--black);
    margin-right: 20px;
    border-radius: 8px;
  }
  .roki-two {
    color: var(--black);
    text-align: right;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .nazva-komp {
    width: 336px;
    color: var(--black);
    margin-bottom: 7px;
    margin-left: 32px;
    font-family: var(--inter-24-medium-family);
    font-size: var(--inter-24-medium-size);
    font-weight: var(--inter-24-medium-weight);
    line-height: var(--inter-24-medium-line-height);
    margin: 1px;
  }
  .company-name-four {
    height: 180px;
    width: 552px;
    color: var(--black);
    display: flex;
    text-align: justify;
    margin-bottom: 12px;
    margin-left: 31px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .nazva-komp-two {
    width: 336px;
    color: var(--black);
    margin-bottom: 12px;
    margin-left: 31px;
    font-family: var(--inter-24-medium-family);
    font-size: var(--inter-24-medium-size);
    font-weight: var(--inter-24-medium-weight);
    line-height: var(--inter-24-medium-line-height);
    margin: 1px;
  }
  .company-name-five {
    height: 96px;
    width: 377px;
    color: var(--black);
    display: flex;
    text-align: justify;
    margin-bottom: 45px;
    margin-left: 32px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }
  .nazva-komp-three {
    width: 336px;
    color: var(--black);
    margin-bottom: 13px;
    margin-left: 32px;
    font-family: var(--inter-24-medium-family);
    font-size: var(--inter-24-medium-size);
    font-weight: var(--inter-24-medium-weight);
    line-height: var(--inter-24-medium-line-height);
    margin: 1px;
  }
  .company-name-six {
    height: 131px;
    width: 313px;
    color: var(--black);
    display: flex;
    text-align: justify;
    margin-left: 31px;
    font-family: var(--inter-24-light-family);
    font-size: var(--inter-24-light-size);
    font-weight: var(--inter-24-light-weight);
    line-height: var(--inter-24-light-line-height);
    margin: 1px;
  }